HELP.md
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### VAADIN ###
/node
/node_modules
/package-lock.json
/package.json
/webpack.config.js
/webpack.generated.js
/pnpm-lock.yaml
/pnpmfile.js
/tsconfig.json
/types.d.ts
/src/main/resources/META-INF/resources/themes/app-theme/app-theme.generated.js
/frontend/generated/
/frontend/index.html
