:host(:not([theme~="tertiary"])) {
    background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-shade-5pct));
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-20pct);
}

:host(:not([theme~="tertiary"]):not([theme~="primary"]):not([theme~="error"]):not([theme~="success"])) {
    color: var(--lumo-body-text-color);
}

:host([theme~="primary"]) {
    text-shadow: 0 -1px 0 var(--lumo-shade-20pct);
}