html, :host {
    --lumo-border-radius: 0.125em;
    --lumo-size-xl: 3rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-m: 2rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-xs: 1.5rem;
    --lumo-space-xl: 1.875rem;
    --lumo-space-l: 1.25rem;
    --lumo-space-m: 0.625rem;
    --lumo-space-s: 0.3125rem;
    --lumo-space-xs: 0.1875rem;
    --lumo-shade-5pct: rgba(26, 26, 26, 0.05);
    --lumo-shade-10pct: rgba(26, 26, 26, 0.1);
    --lumo-shade-20pct: rgba(26, 26, 26, 0.2);
    --lumo-shade-30pct: rgba(26, 26, 26, 0.3);
    --lumo-shade-40pct: rgba(26, 26, 26, 0.4);
    --lumo-shade-50pct: rgba(26, 26, 26, 0.5);
    --lumo-shade-60pct: rgba(26, 26, 26, 0.6);
    --lumo-shade-70pct: rgba(26, 26, 26, 0.7);
    --lumo-shade-80pct: rgba(26, 26, 26, 0.8);
    --lumo-shade-90pct: rgba(26, 26, 26, 0.9);
    --lumo-primary-text-color: rgb(235, 89, 5);
    --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
    --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
    --lumo-error-text-color: rgb(231, 24, 24);
    --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
    --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
    --lumo-success-text-color: rgb(62, 229, 170);
    --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
    --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
    --lumo-shade: hsl(0, 0%, 10%);
    --lumo-primary-color: hsl(22, 96%, 47%);
    --lumo-error-color: hsl(0, 81%, 50%);
    --lumo-success-color: hsl(159, 76%, 57%);
    --lumo-success-contrast-color: hsl(159, 29%, 10%);
}